body {
  background-color: rgb(49, 1, 1);
  background-image: linear-gradient(
    to bottom right,
    rgba(230, 42, 42, 0),
    rgb(66, 104, 134, 1)
  );
}
.square {
  margin: 0.5cm;
  margin-left: 5cm;
  margin-right: 5cm;
  height: 16.1cm;
  width: 25cm;
  background-color: rgb(2, 15, 51);
  outline-style: double;
  outline-color: rgb(237, 241, 243);
  outline-width: 3mm;
}
@media screen and (max-width: 600px) {
  .square {
    background-color: rgb(2, 15, 51);
  }
}
@media screen and (min-width: 600px) {
  .square {
    background-color: rgb(2, 15, 51);
  }
}
@media screen and (min-width: 768px) {
  .square {
    background-color: rgb(2, 15, 51);
  }
}
@media screen and (min-width: 992px) {
  .square {
    background-color: rgb(2, 15, 51);
  }
}
@media screen and (min-width: 1200px) {
  .square {
    background-color: rgb(2, 15, 51);
  }
}
.square2 {
  margin-left: 7.6cm;
  margin-right: 10cm;
  margin-top: -0.5cm;
  height: 2cm;
  width: 9cm;
  background-color: rgb(7, 66, 133);
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
  border: 3px solid rgb(231, 211, 211);
}
#heading {
  background-color: white;
  margin-left: 9.5cm;
  margin-right: 9.5cm;
  padding: 10px;
  outline-style: double;
  outline-color: rgb(132, 191, 230);
  outline-width: 2mm;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 40px;
  font-style: oblique;
}
p {
  color: white;
  margin-left: 8cm;
  font-size: 20px;
}
#p1 {
  color: white;
  margin-left: 5.9cm;
  font-size: 20px;
  color: rgb(60, 255, 0);
  margin-bottom: 1cm;
}
#b1 {
  height: 1.6cm;
  width: 2.1cm;
  border-radius: 0.6cm;
  border: 3px solid rgb(255, 0, 0);
  text-align: center;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(209, 199, 199);
  font-weight: bold;
}
#b2 {
  height: 1.6cm;
  width: 2.1cm;
  border-radius: 0.6cm;
  border: 3px solid rgb(255, 0, 0);
  text-align: center;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(209, 199, 199);
  font-weight: bold;
}
#b3 {
  height: 1.6cm;
  width: 2.1cm;
  border-radius: 0.6cm;
  border: 3px solid rgb(255, 0, 0);
  text-align: center;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(209, 199, 199);
  font-weight: bold;
}
#b4 {
  height: 1.6cm;
  width: 2.1cm;
  border-radius: 0.6cm;
  border: 3px solid rgb(255, 0, 0);
  text-align: center;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(209, 199, 199);
  font-weight: bold;
}
#b5 {
  height: 1.6cm;
  width: 2.1cm;
  border-radius: 0.6cm;
  border: 3px solid rgb(255, 0, 0);
  text-align: center;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(209, 199, 199);
  font-weight: bold;
}
#b6 {
  height: 1.6cm;
  width: 2.1cm;
  border-radius: 0.6cm;
  border: 3px solid rgb(255, 0, 0);
  text-align: center;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(209, 199, 199);
  font-weight: bold;
}
#b7 {
  height: 1.6cm;
  width: 2.1cm;
  border-radius: 0.6cm;
  border: 3px solid rgb(255, 0, 0);
  text-align: center;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(209, 199, 199);
  font-weight: bold;
}
#b8 {
  height: 1.6cm;
  width: 2.1cm;
  border-radius: 0.6cm;
  border: 3px solid rgb(255, 0, 0);
  text-align: center;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(209, 199, 199);
  font-weight: bold;
}
#b9 {
  height: 1.6cm;
  width: 2.1cm;
  border-radius: 0.6cm;
  border: 3px solid rgb(255, 0, 0);
  text-align: center;
  font-size: 25px;
  margin: 5px;
  background-color: rgb(209, 199, 199);
  font-weight: bold;
}
.row1 {
  margin-left: 8.5cm;
  margin-top: 0.5cm;
}
.row2 {
  margin-left: 8.5cm;
  margin-top: 0cm;
}
.row3 {
  margin-left: 8.5cm;
  margin-top: 0cm;
}
#button {
  height: 1.5cm;
  width: 2.5cm;
  background-color: goldenrod;
  text-align: center;
  font-size: 25px;
  color: black;
  padding: 5px;
  margin-left: 11.5cm;
  margin-top: 0.5cm;
  border-radius: 3px;
  border-color: rgb(90, 49, 49);
  border-width: 5px;
  box-shadow: 1.5px 1.5px 8px 7px rgb(243, 8, 47);
}
button:hover {
  background-color: rgb(130, 194, 3);
  cursor: pointer;
}
#printresult {
  color: rgb(231, 238, 241);
  margin-top: 0cm;
}
